.container {
    background-color: #ccc;
    width: 900px;
    margin: 0 auto;
    height: 900px;
    font-size: 0px;

}

.float-left {
	float: left;

}

.float-right {
	float: right;
}

.red {
	margin-bottom: 10px;
    height: 100px;
    background: red;

}

.leftboxes {
	width: 580px;
	height: 660px;
	float: left;
	padding: 12.5px;
	background-color: blue;
}

.columns {
	margin-bottom: 10px;
	width: 580px;
}

.purple {
	float: left;
	height: 330px;
	width: 180px;
	background: purple;
}

.orange {
	float: left;
	height: 330px;
	width: 180px;
	background: orange;
}

.green {
	float: left;
	height: 330px;
	width: 180px;
	background: green;
}

.yellow {
	height: 685px;
	width: 295px;
	background: yellow;
	float: right;
}

.clear {
	clear: both;
}

.pink {
	float: left;
	height: 330px;
	width: 540px;
	background: pink;
	margin-top: 12.5px;
	margin-bottom: 12.5px;
}

.bottomred {
	background: red;
	height: 100px;
	margin-top: 10px;
}
