.container {
    background-color: #ccc;
    width: 900px;
    margin: 0 auto;
    height: 1000px;
    font-size: 0px;

}

.float-left {
	float: left;

}

.float-right {
	float: right;
}

.red {
	margin-bottom: 10px;
    height: 100px;
    background: red;

}

.leftboxes {
	width: 560px;
	height: 720px;
	padding: 20px;
	background-color: #00bdf7;
	float: left;
	padding: 20px;
	margin-bottom: 20px;
}

.purple {
	float: left;
	height: 360px;
	width: 186.67px;
	background: #8f75be;
}

.orange {
	float: left;
	height: 360px;
	width: 186.67px;
	background: #fe5000;
}

.green {
	float: left;
	height: 360px;
	width: 186.67px;
	background: #00c344;
}

.pink {
	float: left;
	height: 340px;
	width: 560px;
	background: #ff86bf;
	margin-top: 20;
	margin-bottom: 12.5px;
}

.yellow {
	height: 760px;
	width: 300px;
	background: yellow;
	float: left
}

.clear {
	clear: both;
}



.bottomred {
	background: red;
	height: 100px;
	margin-top: 10px;
}
