body {
    font-size: 18px;
}

.container {
    background-color: #ccc;
    width: 900px;
    margin: 0 auto;
    height: 900px;

}

.float-left {
	float: left;

}

.float-right {
	float: right;
}

.red {
	margin-bottom: 10px;
    height: 100px;
    background: red;

}

.littlebox {
	padding: 12.5px;
}

.purple {
	float: left;
	height: 330px;
	width: 180px;
	background: purple;
}

.orange {
	float: left;
	height: 330px;
	width: 180px;
	background: orange;
}

.green {
	float: left;
	height: 330px;
	width: 180px;
	background: green;
}

.yellow {
	height: 685px;
	width: 295px;
	background: yellow;
}

.pink {
	height: 340px;
	width: 580px;
	background: pink;
}

.bottomred {
	background: red;
	height: 100px;
	margin-top: 10px;
}
